{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}


<h2>About the Author</h2>
<div style="width:100%; max-width:800px; margin:auto;"> 
  
  {{ author }}
    
<div style="width:25%;float:left;">
<!--<img src="https://eurisko-us.github.io/files/headshots/{{ page.author | slugify | downcase }}.png" align="left" style="border: none; /* height: 10em; */" alt="icon">-->
  
{% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
    {% endif %}
</div>
 
<div style="width:70%;float:right;">
  {% if author.bio %}<p class="author__bio"><a class="body" target="_blank" href="https://eurisko-us.github.io/{{ page.author | slugify | downcase }}">{{ page.author }}</a> {{ author.bio }}</p>{% endif %}
</div>
  
</div>
