{% include base_path %}

{% if page.reviewers %}
  <div style="width:100%; max-width:800px; margin:auto"> 
  <p class="author__bio">
  <b>Acknowledgements:</b> Thanks to
  {% for reviewer in page.reviewers %}
    <br>index: {{ forloop.index }}
    <br>length: {{ forloop.length }}
    {% if forloop.index < forloop.length %}
      {% assign endChar = "," %}
    {% else %}
      {% assign endChar = "" %}
    {% endif %}
    <br>endchar: {{ endChar }}
    <br>
    {% if site.data.authors[reviewer] %}
      <a class="body" target="_blank" href="https://eurisko-us.github.io/{{ reviewer | slugify | downcase }}">{{ reviewer }}</a>{{ endchar }}
    {% else %}
      {{ reviewer }}{{ endchar }}
    {% endif %}
  {% endfor %}
  for reviewing this post.</p>
  </div>
  
{% endif %}
