{% include base_path %}

{% assign reviewers = [] %}
{% if page.reviewers %}
  <div style="width:100%; max-width:800px; margin:auto"> 
  <p class="author__bio">
  <b>Acknowledgements:</b> Thanks to
  {% for reviewer in page.reviewers %}
    {% if site.data.authors[reviewer] %}
      <a class="body" target="_blank" href="https://eurisko-us.github.io/{{ reviewer | slugify | downcase }}">{{ reviewer }}</a>,
    {% else %}
      {{ reviewer }},
    {% endif %}
  {% endfor %}
  for reviewing this post.</p>
  </div>
  
{% endif %}
