{% include base_path %}

{% if page.reviewers %}
  <div style="width:100%; max-width:800px; margin:auto"> 
  <p class="author__bio">
  <b>Acknowledgements:</b> Thanks to
  {% for reviewer in page.reviewers %}
    
    {% if forloop.length == 2 %}
    
      {% if forloop.index == 1 %}
        {% assign endChar = " and" %}
      {% else %}
        {% assign endChar = "" %}
      {% endif %}
    
    {% else %}
    
      {% if forloop.index < forloop.length-1 %}
        {% assign endChar = "," %}                                    
      {% else %}
                                            
        {% if forloop.index == forloop.length-1 %}
          {% assign endChar = ", and " %}
        {% else %}
          {% assign endChar = "" %}
        {% endif %}
                                            
      {% endif %}
    
    {% endif %}
                                        
    {% if site.data.authors[reviewer] %}
      <a class="body" target="_blank" href="https://eurisko.us/{{ reviewer | slugify | downcase }}">{{ reviewer }}</a>{{ endChar }}
    {% else %}
      {{ reviewer }}{{ endChar }}
    {% endif %}

  {% endfor %}
  for reviewing this post.</p>
  </div>
  
{% endif %}
