---
layout: archive
---

{% include base_path %}

{{ content }}

<!-- ADMINS -->
{% for authorTuple in site.data.authors %}

  {% assign author = authorTuple[1] %}

  {% if author.role == 'admin' %}

      <div style="width:100%; max-width:800px; margin:auto; clear:both;"> 

      <h2><br>{{ author.name }}</h2>

      <div style="width:25%;float:left;">

      {% if author.avatar contains "://" %}
            <img src="{{ author.avatar }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
          {% else %}
            <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
          {% endif %}
      </div>

      <div style="width:70%;float:right;">
        {% if author.bio %}<p class="author__bio"><a class="body" target="_blank" href="https://eurisko.us/{{ author.name | slugify | downcase }}">{{ author.name }}</a> {{ author.bio }}</p>{% endif %}
      </div>

      </div>

  {% endif %}

{% endfor %}


<!-- STUDENTS -->

<div style="width:100%; max-width:800px; margin:auto; clear:both;"> 
<h2 class="archive__subtitle"><br><br>Students</h2>
</div>

{% for authorTuple in site.data.authors %}

  {% assign author = authorTuple[1] %}

  {% if author.role == 'student' %}

          <div style="width:100%; max-width:800px; margin:auto; clear:both;"> 

          <h2><br>{{ author.name }} {{author.graduationYear}}</h2>

          <div style="width:25%;float:left;">

          {% if author.avatar contains "://" %}
                <img src="{{ author.avatar }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
              {% else %}
                <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
              {% endif %}
          </div>

          <div style="width:70%;float:right;">
            {% if author.bio %}<p class="author__bio"><a class="body" target="_blank" href="https://eurisko.us/{{ author.name | slugify | downcase }}">{{ author.name }}</a> {{ author.bio }} {% if author.github %}(<a class="body" target="_blank" href="https://github.com/{{ author.github }}">Github</a>){% endif %}</p>{% endif %}
          </div>

          </div>

  {% endif %}

{% endfor %}


