---
layout: archive
---

{% include base_path %}

{{ content }}

{% for author in site.data.authors %}

  <div style="width:100%; max-width:800px; margin:auto;"> 
    
  <h2>{{ author.name }}</h2>

  author: {{ author }}<br><br>
    
  author[0]: {{ author[0] }}<br><br>
    
  author[1]: {{ author[1] }}<br><br>
    
  name: {{ author.name }}<br><br>
    
  bio: {{ author.bio }}<br><br>

  <div style="width:25%;float:left;">
  <!--<img src="https://eurisko-us.github.io/files/headshots/{{ page.author | slugify | downcase }}.png" align="left" style="border: none; /* height: 10em; */" alt="icon">-->

  {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
      {% else %}
        <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
      {% endif %}
  </div>

  <div style="width:70%;float:right;">
    {% if author.bio %}<p class="author__bio"><a class="body" target="_blank" href="https://eurisko-us.github.io/{{ page.author | slugify | downcase }}">{{ page.author }}</a> {{ author.bio }}</p>{% endif %}
  </div>

  </div>

{% endfor %}
