---
layout: archive
---

{% include base_path %}

{% if page.title and site.data.authors[page.title] %}
  {% assign author = site.data.authors[page.title] %}{% else %}{% assign author = site.author %}
{% endif %}

<br>

<div style="width:100%; max-width:800px; margin:auto;"> 
    
<div style="width:25%;float:left;">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}" align="left" style="border: none; /* height: 10em; */">
    {% endif %}
</div>
 
<div style="width:70%;float:right;">
  {% if author.bio %}{{ page.title }} {{ author.bio }}</p>{% endif %}
{{ content }}
</div>
    
</div>

<div style="width:100%; max-width:800px; margin:auto; clear:both;">

<h2 class="archive__subtitle"><br>Posts</h2>
    
{% assign postsByYear = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in year.items %}
        {% if post.author == page.title %}
            {% include archive-single.html type=page.entries_layout %}
        {% endif %}
      {% endfor %}
    </div>
    <a href="#top" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

</div>
